<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <h1>Hello, express templates!</h1>
    <a href="/features">features</a>
    <a href="/download">download features</a>
</body>
</html>